<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>create</title>
  </head>
  <body>
    <form action="/addrecord" method="post">
      <input
        type="text"
        placeholder="name"
        name="name"
        id="name"
        required
      /><br />
      <input
        type="text"
        placeholder="contact"
        name="contact"
        id="contact"
        required
      /><br />
      <input
        type="text"
        placeholder="subjects"
        name="subjects"
        id="subjects"
        required
      /><input type="button" onclick="subvalueadd()" value="add" /><br />
      <input
        type="text"
        placeholder="class"
        name="class"
        id="class"
        required
      /><br /><input type="button" onclick="classvalueadd()" />
      <input
        type="text"
        placeholder="society"
        name="society"
        id="society"
      /><input type="button" onclick="socvalueadd()" value="add" /><br />
      <input type="date" placeholder="year" name="year" id="years" /><br />
      <input type="submit" onclick="undo()" value="submit" /><br />
    </form>
  </body>
  <script>
    var sub_temp = [];
    var soc_temp = [];
    var class_temp = [];
    function subvalueadd() {
      arr = document.getElementById("subjects").value;
      sub_temp.push(arr);
      document.getElementById("subjects").value = null;
    }
    function classvalueadd() {
      arr = document.getElementById("class").value;
      class_temp.push(arr);
      document.getElementById("class").value = null;
    }
    function socvalueadd() {
      arr = document.getElementById("society").value;
      soc_temp.push(arr);
      document.getElementById("society").value = null;
    }
    function undo() {
      document.getElementById("subjects").value += sub_temp;
      document.getElementById("society").value += soc_temp;
      document.getElementById("class").value += class_temp;
    }
  </script>
</html>
